<config>
    <modules>
        <SecondBureau_Catalog>
            <version>0.0.1</version>
        </SecondBureau_Catalog>
    </modules>
    <global>
        <blocks>
                <product_popular>
                    <class>SecondBureau_Product_Popular_Block</class>
                </product_popular>
        </blocks>
    </global>
</config>

