<config>
    <modules>
        <SecondBureau_Catalog>
            <version>0.0.1</version>
        </SecondBureau_Catalog>
    </modules>
    <global>
        <blocks>
                <secondbureau_catalog>
                    <class>SecondBureau_Catalog_Block</class>
                </secondbureau_catalog>
        </blocks>
    </global>
</config>

