body { font:12px/1.55 Times, Arial, Helvetica, sans-serif; background:#d5b7b7; }

/* Layout ================================================================================ */
.wrapper { width:90px; background:black; margin:10px auto; padding:0}
.page {}
.main-container { background:transparent; position: relative; z-index:1 important!}
.main { width:950px; margin:0 auto; min-height:400px; padding:0; background:blue; text-align:left; }

/* Header ================================================================================ */
.header-container { border-bottom:10px solid green; border-top:1px solid #b83140; background: white; padding:0; margin:0 }
.header { border:none important!; width:950px; height:187px; margin:0 auto; padding:0; text-align:left; position:relative; z-index:10; }
.header .logo { float:none; position:absolute; margin:0; text-decoration:none !important; }
/* form search */
.header .quick-access {  position:absolute; border:solid blue 3px;}
.header .form-search { position:absolute; left:-50px; top:0px; border:solid green 1px; }
/* links */
.header .links { position:absolute; clear:both; margin:0 0 6px; }
/* right block */
.header .right { background: blue; }

/* Navigation ================================================================================ */
.nav-container { position:relative; height:50px; font-size:50px; padding:10px 0 0 200px;  background:#000000 url(../images/bkg-navigation.png) repeat; z-index:600 important! }
/* decoration */
.nav-container .nav-decoration {position:absolute; width: 172px; height: 179px; top:-10px; left:-14px; background: url(../images/spt-norepeat.png) no-repeat; z-index:600 important!}
#anav { font-size:20px; color:#ffffff}
/* boxes */
#anav ul { border:1px solid #b83140; background-color: #d58a92;}
/* level 1 */
#anav a { color:#ffffff; padding:5px 50px 6px 8px; }
#anav li.active a, #anav li.over a, #anav a:hover { color:#b83140; }
/* level 2 */
#anav ul ul li a { color:#2c2828 !important; }
/* level 3 */
#anav ul ul ul li a { color:#443C40 !important;  }
/* level 4 */
#anav ul ul ul ul li a { color:#8F8086 !important; }
/* levels 2-4 over */
#anav ul li a:hover { color:#b83140 !important;}

/* Search Form ================================================================================ */
.form-search {position:absolute; width: 251px; height: 118px; top:0px; left:0px; background: url(../images/spt-norepeat.png) -175px 0px no-repeat; z-index:600 important!}
