body { font:12px/1.55 Times, Arial, Helvetica, sans-serif;}

/* Layout ================================================================================ */
.main-container { background:black url(../images/bkg_main90.gif) 50% 0 no-repeat; }
.main { width:900px; margin:0 auto; min-height:400px; padding:25px 25px 80px; background:blue url(../images/bkg_main9.gif) 0 0 no-repeat; text-align:left; }

/* Header ================================================================================ */
.logo { float:left; }
.header-container { border-top:5px solid #0d2131; border-bottom:1px solid #415966; background: red url(../images/bkg_header8.jpg) 50% 0 repeat; }

/* Navigation ================================================================================ */
.nav-container { height:50px; font-size:50px; padding:10px 0 0 200px;  background:red url(../images/bkg-navigation.png) repeat; }
#anav { font-size:20px; color:#ffffff}
/* boxes */
#anav ul { border:5px solid #899ba5; background-color: #0A263D;}
/* top level */
#anav a { color:#ffffff; padding:5px 12px 6px 8px; }
#anav li.active a, #anav li.over a, #anav a:hover { color:orange; }
/* level 1 */
#anav ul a,
#anav ul a:hover { float:none; padding:0; background:none; }
#anav ul li a { color:#ffffff; font-weight:normal !important; }
/* level 2 */
#anav ul li a:hover { color:grey !important; }
/* level 3+ */
#anav ul li a { color: red !important; font-size: 22px; }
#anav ul ul li a { color: blue !important; font-size: 24px; }
#anav ul ul ul li a { color: green !important; font-size: 26px; }
#anav ul ul ul ul li a { color: black !important; font-size: 30px; }
