/* body { font:12px/1.55 Times, Arial, Helvetica, sans-serif; background:white url(../images/bkg-body.png) repeat-x; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.95, rgb(255,255,255)),color-stop(0.59, rgb(66,53,54))); background-image: -moz-linear-gradient(center top,rgb(66,53,54) 59%, rgb(255,255,255) 95%)} */
body { font:12px/1.55 Times, Arial, Helvetica, sans-serif; background:rgb(66,53,54); }

/* Layout ================================================================================ */
.wrapper { width:950px; color:black ;background:transparent;  margin:10px auto; padding:0}
.page {}
.main-container { background:white; border:#423536 solid 1px; }
.main { position:relative; width:910px; margin:0 auto; min-height:400px; padding:0px 20px 0 20px; background:transparent; text-align:left; }
.main-decoration { position:absolute; top:-67px; left:-12px; width:116px; height:121px; background: url(../images/bkg-main-decoration-top.png) no-repeat;}
.brands-container {width:100%; height:131px; border-top:#cbb8ad solid 1px; background: #dccdac url(../images/bkg-brands.png) repeat-x;}
.brands {text-align:center;padding-top:20px;} 
.brands-container p a {position:relative; color:#847981; font-size:13px; text-decoration:none; top:-10px;}
.brands-container p a:hover {text-decoration:underline;}
.seotext {width:100%;background:white;height:110px;}
.seotext .text  {text-align:justify; padding-right:60px; padding-top:15px; color:#dccdac; font:13px/1.65 Times, Arial, Helvetica, sans-serif;}
.seotext .seonews {float:left; width:300px; height:100px;}
.content_top {position:absolute; background:lightgrey; left:260px; top:5px; width:650px; height:100px;}
.seonews {text-align:left;padding-left:20px;}
.seonews h2 {color:#dccdac; text-transform:uppercase;font:13px/1.65 Arial, Helvetica, sans-serif; font-weight:bold; margin:0; padding:5px 0;}
.seonews ul, .seonews li {margin:0px; padding:0px;} 
.seonews li, .seonews li a {color:rgb(66,53,54); font:13px/1 Times, Arial, Helvetica, sans-serif;}

/* Base Columns */
.col-left { float:left; width:150px; padding:0 0 1px; }
.col-main { float:left; width:650px; padding:0 0 1px; }
.col-right { float:right; width:150px; padding:0 0 1px; }

/* home layout */
.home-layout .col-main { width:700px;}
.home-layout .col-right { background: transparent url(../images/bkg-home-decoration-right.png) no-repeat; width:180px; text-align:center; padding-top:60px;}
.home-layout .seasonal-message {height:240px; overflow:hidden; ;}
.home-layout .permanent-message {height:200px; overflow:hidden; padding-top:20px;}
.home-layout .col-right h1, .home-layout .col-right li {color:black; font:11px/1.2em Arial, Helvetica, sans-serif; margin:0; padding:0;}
.home-layout .col-right h1 {font-size:15px; font-weight:bold;}
.home-layout .col-right li {margin-top:7px;}

/* popular */
.home-layout .popular {position : absolute; top:80px; left:45px; height:440px; overflow:hidden;}
.home-layout .popular .product-details {display:none;}
.home-layout .popular img {-moz-border-radius: 15px; border-radius: 15px;}
.home-layout .popular li {position:relative; width:136px; height:130px; margin-top:10px; background:transparent url(../images/bkg-home-decoration-selection.png)}
.home-layout .popular li .product {width:100%; padding-top:15px; text-align:center;}
.home-layout .popular li .product button.button {position:absolute; left:90px; top:90px;width:40px; height:40px; background: url(../images/btn-sprites.png) 0px 0px no-repeat; }
.home-layout .popular li .product button.button:hover {background-position: 0 -39px;}
.home-layout .popular li .product button.button:active {background-position: 0 -78px;}


/* col2-right-layout */
.col2-right-layout .main {padding-top:130px;padding-bottom:50px;}
.col2-right-layout .col-main { width:700px;}
.col2-right-layout .col-right { width:200px;margin-top:-20px;}

/* col2-right-layout */
.col2-left-layout .main {padding-top:130px;padding-bottom:50px;}
.col2-left-layout .col-main { width:700px;}
.col2-left-layout .col-right { width:200px;margin-top:-20px;}

/* col1-layout */
.col1-layout .main {padding-top:130px;padding-bottom:50px;}
.col1-layout .col-main { width:100%;}

/* Header ================================================================================ */
.header-container { border:none; background: #dccdac; padding:0; margin:0 }
.header { border:none important!; width:950px; height:150px; margin:0 auto; padding:0; text-align:left; position:relative; }
.header .logo { float:none; position:absolute; margin:0; text-decoration:none !important;  }
/* form search */
.header .quick-access {  position:absolute; top:70px; width:700px; border:none; }
.header .quick-access .welcome-msg {color: black;}
.header .form-search { position:absolute; left:-50px; top:0px; border:solid green 1px; }
/* links */
.header .links { position:relative; clear:both; margin:0 0 6px;}
.header .links a { color:black;}
/* right block */
.header .right {text-align:center; padding:50px 0px 0 0; margin-top:23px;position:absolute; left:750px; width:180px; height:250px; background: transparent url(../images/bkg-header-decoration-right.png) no-repeat;}
.header .right h1, .header .right h2, .header .right p {font:11px/1.2em Arial, Helvetica, sans-serif; margin:0; padding:0;}
.header .right h1 { font-size:15px; font-weight:bold; }
.header .right h2 {font-size:14px; padding:5px 10px 5px 10px; }
.header .right p {text-align:right; width:165px; color:white;  padding-top:4px; }
/* phone-block */
.phone-block { position:absolute; width:202px; height: 52px; top:-56px; left:750px; border:none; overflow:hidden; text-align:left; background:#423636; z-index:12;}
.phone-block .phone {width:180px; text-align:center; color: white; font: 16px/17px Times; letter-spacing:1px;padding:2px 0px 2px;}
.phone-block .quicklinks {width:180px; text-align:center;}
.phone-block .quicklinks a {color:#dccdac; font: 12px/16px Times;}
.phone-block .quicklinks span:first-child {margin-right:10px;}

/* footer ================================================================================ */
.footer-container { border:none; background: transparent; padding:0; margin:0 }
.footer { position:relative; float:none; width:auto;}
.footer-decoration {position:absolute; top:-105px; right:-3px; width:162px; height:116px;  background: url(../images/bkg-main-decoration-bottom.png) no-repeat; }
.footer, .footer a, .footer .seo h1{ color:#fff; text-decoration:none;  font:12px/1.55 Arial, Helvetica, sans-serif; }
.footer a:hover { text-decoration:underline; }
.footer .seo h1 {font-weight:bold; font-size:13px; }
.footer .col {width:300px; float:left; padding-left:10px; text-align:left;  }
.footer .col-2 {width:290px; padding-left:20px; }
.footer .col-3 {width:280px; padding-left:30px; }
.footer .col li {clear:both; display:block; background:none; padding:0; margin:0;}
.footer .col ul {margin-top:20px;display:block;}
.footer .quicklist {clear:both; margin-top:15px; padding-top:15px; text-align:center; }
.main-links {font-size:15px;margin-top:15px;}

/* Navigation ================================================================================ */
.nav-container { position:relative; height:47px; font-size:50px; padding:10px 0 0 200px;  background:#000000 url(../images/bkg-navigation.png) repeat; }
/* decoration */
.nav-container .nav-decoration {position:absolute; width: 172px; height: 179px; top:-10px; left:-14px; background: url(../images/spt-norepeat.png) no-repeat; }
#anav { font-size:20px; color:#ffffff}
/* boxes */
#anav ul { border:1px dashed #423536; background-color: #dccdac; }
/* level 1 */
#anav a { color:#ffffff; padding:5px 50px 6px 8px; font-weight:normal  }
#anav li.active a, #anav li.over a, #anav a:hover { color:#dccdac; }
/* level 2 */
#anav ul ul li a { color:#423536 !important; font-weight:bold  !important;}
/* level 3 */
#anav ul ul ul li a { color:#423536 !important; font-weight:normal !important; }
/* level 4 */
#anav ul ul ul ul li a { color:#423536 !important; font-size:17px; display:none;}
/* levels 2-4 over */
#anav ul li a:hover { color:white !important ;font-style: normal;}

/* Search Form ================================================================================ */
.form-search-decoration {position:absolute; width: 234px; height: 109px; top:-5px; left:-2px; background: url(../images/bkg-searchform.png) no-repeat; }
.form-search {position:absolute; padding-left:30px; top:15px; left:50px;width:150px; height:90px; border:none;overflow:hidden;}
.form-search label { float:left; width:100%; height:21px; text-align:left; overflow:hidden; text-transform: uppercase; color:white; font:12px/1.55 Arial, Helvetica, sans-serif; }
.form-search input.input-text { float:left; border-color:#5c7989; width:120px; margin-right:4px;color:#dccdac; font-style:italic; }
.form-search input.input-text:focus {color:black; font-style:normal; }
.form-search button.button {position:absolute; left:125px; top:38px;width:40px; height:40px; background: url(../images/btn-sprites.png) 0px 0px no-repeat; }
.form-search button.button:hover {background-position: 0 -39px;}
.form-search button.button:active {background-position: 0 -78px;}

/* Account Login/Create Pages ============================================================ */
.checkout-multishipping-address-newshipping .buttons-set ,
.account-create .buttons-set {padding-right: 150px;}
.account-login .content {  background:#dccdac; border:1px solid #715444; }
.account-login .content h2 { color:#423536; }
.account-login .new-users h2 { background:none;}
.account-login .registered-users h2 { background:none; }
.account-login .buttons-set { border:1px solid black; background:#423536; }
.buttons-set a {color: #dccdac;}
button.button span { border-color:#dccdac; background:#715444; color:#dccdac; font:bold 12px/16px Times; -moz-border-radius:5px; border-radius: 5px;}
button.btn-checkout span span { padding-top: 10px; background:none; }

/* Sidebar =============================================================================== */
.block { border:1px solid #dccdac; margin:0 0 15px; }
.block .block-title { background:#423636; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.95, rgb(66,54,54)),color-stop(0.72, rgb(117,106,106)),color-stop(0.24, rgb(66,54,54))); background: -moz-linear-gradient(center bottom,rgb(66,54,54) 95%,rgb(117,106,106) 72%,rgb(66,54,54) 24%);  }
.block .block-title strong { font:bold 12px/18px Times; color:white; }
.block .block-title strong span {}
.block .block-title a { }
.block .block-subtitle { color:#0a263c; }
.block .block-content { background:#dccdac; color:#715444;}
.block .block-content li.item { }
.block .block-content .product-name { color:#715444; }
.block .btn-remove { }
.block .actions { background:#ffffff; }
.block .actions a { color:#dccdac;}
.block .actions button.button { }
.block .actions button.button span { background:#715444; border:none; font:bold 12px/16px Times; }
.block .empty {  }

.block-subscribe .actions { background:#dccdac; }
.home-layout .input-box input {width:150px;}

.block li.even { background-color:#ffffff; }
.block li.odd { background-color:#dccdac; }

.product-name a { color:#715444; text-decoration:none; }

a {color:#715444 ; text-decoration:none !important;}
a strong {color:#715444;}
.link-wishlist { color:#715444 !important;}
.link-compare { color:#715444 !important;}
.link-cart { color:#715444 !important; font-weight:bold; }
.f-left a {color:white;}
/* Breadcrumbs */
.breadcrumbs, .breadcrumbs a { color:#715444; text-decoration:none;}

/* Global Messages  */
.note-msg,
.notice-msg {  }
.error-msg { border-color:#715544; background-color:#dccdac;  color:#423636; }
.success-msg { border-color:#715544; background-color:#dccdac;  color:#423636; }
.note-msg,
.notice-msg { border-color:#715544; background-color:#dccdac;  color:#423636; }

/* Block: Recent Orders */
.box-account  {background:#dccdac;}
.box-account .box-head h2 {font:bold 12px/18px Times; color:#715444;}
.box-account a {color:#715444;}

/* Block: Account */
.block-account .block-content li a {  }
.block-account .block-content li a:hover { color:#715444; }
.block-account .block-content li.current { color:white; }
.fieldset {  background:#dccdac;  }
.fieldset .legend { border:1px solid #715444; background:#423636; color:#ffffff;  }

/* Data Table */
.data-table { border:1px solid #715444; }
.data-table .odd  { background:#dccdac }
.data-table .even { background:#ffffff; color:#000000;}
.data-table thead th { color:#ffffff; background:#423636; line-height:25px; }
.data-table tfoot tr  { background:#423536 !important; }
.data-table tfoot tr.first td { background:none;}
.cart-table .btn-continue span,
.cart-table .btn-update span { border-color:#dccdac; background:#715444; }
.cart .totals { background:#dccdac; border:1px solid #715444; }

/* Compare Table */
.compare-table tbody th {background:#715444; color:white;}

/* product list */
.block .regular-price .price {font:bold 14px/18px Arial; font-weight:bold; color:#423636; }
.price-box .regular-price .price  {font:bold 16px/18px Arial; font-weight:bold; color:#423636; }
.add-to-links li, .add-to-links a.link-wishlist, .add-to-links a.link-compare, a.link-more {color:#dccdac !important;}


/* Toolbar */
.toolbar {border:solid 1px #dccdac;}
.toolbar .pager, 
.toolbar .sorter { background:#dccdac; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.95, rgb(255,255,255)), color-stop(0.38, rgb(220,205,172))); background:  -moz-linear-gradient(center bottom, rgb(220,205,172) 38%, rgb(255,255,255) 95%); }
.toolbar-bottom {}
.pages a {color: #423636;}

/* One Page Checkout */
.opc .step-title h2 {font:bold 14px/18px Times;}
.opc .allow .step-title { background:#423636; }
.opc .allow .step-title .number { background:#715444; border-color:#dccdac; color:white; }
.opc .allow .step-title h2 { color:white; }
.opc .step { background: #dccdac; padding-bottom:30px;}
.block.block-progress{border:none}
.block-progress .block-content{ background:none; }
.block-progress dt { color:#715444; }
.block-progress dd { background:#dccdac;}
.block-progress dt.complete { background:#dccdac; color:#423636; }
.block-progress dd.complete {}
.cart .discount ,
.cart .shipping {background:#dccdac; border:solid 1px #423536;}
.cart .discount h2,
.cart .shipping h2 { color:#423636; }
.cart .discount button span,
.cart .shipping button span { border-color:#423536; background:#715444; }
#checkout-review-table {color:white;}

/* Product */
.product-essential { background:#dccdac; background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.99, rgb(220,205,172)),
		color-stop(0.9, rgb(255,255,255))
    
); background: 
-moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 90%,
    rgb(220,205,172) 99%
);
padding-top:50px;}
.product-collateral {border-top: solid 2px #dccdac; background:white; }


/* Tabs */
.tabs {}
.tabs li                { background: #dccdac; }
.tabs li.first          {  }
.tabs li.last           { }
.tabs a                 { }
.tabs a:hover           { background-color:#715444; color:#ffffff;}
.tabs li.active a,
.tabs li.active a:hover { background:#715444;  }

/* page popup */
.page-popup .main-decoration,  .page-popup #search_mini_form {display:none;}

/* Notice */
.demo-notice {font:bold 15px/18px Arial, Helvetica, sans-serif; font-weight:normal; }
