body { font:12px/1.55 Times, Arial, Helvetica, sans-serif; background:white url(../images/bkg-body.png) repeat-x; }

/* Layout ================================================================================ */
.wrapper { width:950px; color:black ;background:transparent;  margin:10px auto; padding:0}
.page {}
.main-container { background:white; border:#423536 solid 1px; }
.main { position:relative; width:910px; margin:0 auto; min-height:400px; padding:0px 20px 0 20px; background:transparent; text-align:left; }
.main-decoration { position:absolute; top:-67px; left:-12px; width:116px; height:121px; background: url(../images/bkg-main-decoration-top.png) no-repeat;}
.brands-container {width:100%; height:131px; border-top:#cbb8ad solid 1px; background: #dccdac url(../images/bkg-brands.png) repeat-x;}
.brands {text-align:center;padding-top:20px;} 
.brands-container p a {color:#847981; font-size:13px; text-decoration:none;}
.brands-container p a:hover {text-decoration:underline;}
.seotext {width:100%;background:white;height:110px;}
.seotext .text  {text-align:justify; padding-right:60px; padding-top:15px; color:#dccdac; font:13px/1.65 Times, Arial, Helvetica, sans-serif;}
.seotext .seonews {float:left; width:300px; height:100px;}
.content_top {position:absolute; background:lightgrey; left:260px; top:5px; width:650px; height:100px;}


/* Base Columns */
.col-left { float:left; width:150px; padding:0 0 1px; }
.col-main { float:left; width:650px; padding:0 0 1px; }
.col-right { float:right; width:150px; padding:0 0 1px; }

/* home layout */
.home-layout .col-main { width:700px;}
.home-layout .col-right { background: transparent url(../images/bkg-home-decoration-right.png) no-repeat; width:180px; text-align:center; padding-top:60px;}
.home-layout .seasonal-message {height:240px; overflow:hidden; ;}
.home-layout .permanent-message {height:200px; overflow:hidden; padding-top:20px;}
.home-layout .col-right h1, .home-layout .col-right li {color:black; font:11px/1.2em Arial, Helvetica, sans-serif; margin:0; padding:0;}
.home-layout .col-right h1 {font-size:15px; font-weight:bold;}
.home-layout .col-right li {margin-top:7px;}

/* popular */
.home-layout .popular {position : absolute; top:80px; left:45px;}
.home-layout .popular .product-details {display:none;}
.home-layout .popular li {position:relative; width:136px; height:130px; margin-top:10px; background:transparent url(../images/bkg-home-decoration-selection.png)}
.home-layout .popular li .product {width:100%; padding-top:15px; text-align:center;}
.home-layout .popular li .product button.button {position:absolute; left:90px; top:90px;width:40px; height:40px; background: url(../images/btn-sprites.png) 0px 0px no-repeat; }
.home-layout .popular li .product button.button:hover {background-position: 0 -39px;}
.home-layout .popular li .product button.button:active {background-position: 0 -78px;}


/* col2-right-layout */
.col2-right-layout .main {padding-top:130px;padding-bottom:50px;}
.col2-right-layout .col-main { width:700px;}
.col2-right-layout .col-right { width:200px;margin-top:-20px;}

/* col1-layout */
.col1-layout .main {padding-top:130px;padding-bottom:50px;}
.col1-layout .col-main { width:100%;}

/* Header ================================================================================ */
.header-container { border:none; background: #dccdac; padding:0; margin:0 }
.header { border:none important!; width:950px; height:150px; margin:0 auto; padding:0; text-align:left; position:relative; }
.header .logo { float:none; position:absolute; margin:0; text-decoration:none !important;  }
/* form search */
.header .quick-access {  position:absolute; top:70px; width:700px; border:none; }
.header .quick-access .welcome-msg {color: black;}
.header .form-search { position:absolute; left:-50px; top:0px; border:solid green 1px; }
/* links */
.header .links { position:relative; clear:both; margin:0 0 6px;}
.header .links a { color:black;}
/* right block */
.header .right { text-align:center; padding:50px 0px 0 0; margin-top:23px;position:absolute; left:750px; width:180px; height:250px; background: transparent url(../images/bkg-header-decoration-right.png) no-repeat;}
.header .right h1, .header .right h2, .header .right p {font:11px/1.2em Arial, Helvetica, sans-serif; margin:0; padding:0;}
.header .right h1 { font-size:15px; font-weight:bold; }
.header .right h2 {font-size:14px; padding:5px 10px 5px 10px; }
.header .right p {text-align:right; width:100%; color:white;}


/* footer ================================================================================ */
.footer-container { border:none; background: transparent; padding:0; margin:0 }
.footer { position:relative; float:none; width:auto;}
.footer-decoration {position:absolute; top:-105px; right:-3px; width:162px; height:116px;  background: url(../images/bkg-main-decoration-bottom.png) no-repeat; }
.footer, .footer a, .footer .seo h1{ color:#715444; text-decoration:none;  font:12px/1.55 Arial, Helvetica, sans-serif; }
.footer a:hover { text-decoration:underline; }
.footer .seo h1 {font-weight:bold; font-size:13px; }
.footer .col {width:300px; float:left; padding-left:10px; text-align:left;  }
.footer .col-2 {width:290px; padding-left:20px; }
.footer .col-3 {width:280px; padding-left:30px; }
.footer .col li {clear:both; display:block; background:none; padding:0; margin:0;}
.footer .col ul {margin-top:20px;display:block;}
.footer .quicklist {clear:both; margin-top:15px; padding-top:15px; text-align:center; }
.main-links {font-size:15px;margin-top:15px;}

/* Navigation ================================================================================ */
.nav-container { position:relative; height:47px; font-size:50px; padding:10px 0 0 200px;  background:#000000 url(../images/bkg-navigation.png) repeat; }
/* decoration */
.nav-container .nav-decoration {position:absolute; width: 172px; height: 179px; top:-10px; left:-14px; background: url(../images/spt-norepeat.png) no-repeat; }
#anav { font-size:20px; color:#ffffff}
/* boxes */
#anav ul { border:1px dashed #423536; background-color: #dccdac; }
/* level 1 */
#anav a { color:#ffffff; padding:5px 50px 6px 8px; }
#anav li.active a, #anav li.over a, #anav a:hover { color:#dccdac; }
/* level 2 */
#anav ul ul li a { color:#423536 !important; font-weight:bold  !important;}
/* level 3 */
#anav ul ul ul li a { color:#423536 !important; font-weight:normal !important; }
/* level 4 */
#anav ul ul ul ul li a { color:#423536 !important; font-size:17px; }
/* levels 2-4 over */
#anav ul li a:hover { color:white !important ;font-style: normal;}

/* Search Form ================================================================================ */
.form-search-decoration {position:absolute; width: 234px; height: 109px; top:-5px; left:-2px; background: url(../images/bkg-searchform.png) no-repeat; }
.form-search {position:absolute; padding-left:30px; top:15px; left:50px;width:150px; height:90px; border:none;overflow:hidden;}
.form-search label { float:left; width:100%; height:21px; text-align:left; overflow:hidden; text-transform: uppercase; color:white; font:12px/1.55 Arial, Helvetica, sans-serif; }
.form-search input.input-text { float:left; border-color:#5c7989; width:120px; margin-right:4px; }
.form-search button.button {position:absolute; left:125px; top:38px;width:40px; height:40px; background: url(../images/btn-sprites.png) 0px 0px no-repeat; }
.form-search button.button:hover {background-position: 0 -39px;}
.form-search button.button:active {background-position: 0 -78px;}
