body { font:12px/1.55 Times, Arial, Helvetica, sans-serif;}

/* Layout ================================================================================ */
.wrapper { width:910px; }
.page {}
.main-container { background:black;}
.main { width:900px; margin:0 auto; min-height:400px; padding:25px 25px 80px; background:blue; text-align:left; }

/* Header ================================================================================ */
.logo { float:left; }
.header-container { border-top:5px solid #0d2131; border-bottom:1px solid #415966; background: red url(../images/bkg_header8.jpg) 50% 0 repeat; }

/* Navigation ================================================================================ */
.nav-container { height:50px; font-size:50px; padding:10px 0 0 200px;  background:#000000 url(../images/bkg-navigation.png) repeat; }
#anav { font-size:20px; color:#ffffff}
/* boxes */
#anav ul { border:1px solid #b83140; background-color: #d58a92;}
/* level 1 */
#anav a { color:#ffffff; padding:5px 50px 6px 8px; }
#anav li.active a, #anav li.over a, #anav a:hover { color:#b83140; }
/* level 2 */
#anav ul ul li a { color:#2c2828 !important; }
/* level 3 */
#anav ul ul ul li a { color:#443C40 !important;  }
/* level 4 */
#anav ul ul ul ul li a { color:#8F8086 !important; }
/* levels 2-4 over */
#anav ul li a:hover { color:#b83140 !important;}
